.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.card {
    padding: 160px 0;
    display: flex;
    align-items: center;
    gap: 125px;
}

.span {
    color: #D87D4A;
    font-size: 14px;
    letter-spacing: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

.heading {
    font-size: 50px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.text {
    font-size: 15px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 25px;
}

.container .card:nth-child(2) {
    flex-direction: row-reverse;
}

@media (max-width:1024px) {
    .card {
        gap: 40px;
    }

    .heading {
        font-size: 30px;
    }
}

@media (max-width:768px) {
    .card {
        flex-direction: column;
        padding: 50px;
    }

    .container .card:nth-child(2) {
        flex-direction: column;
    }

    .title {
        text-align: center;
    }

    .responsive_img {
        width: 100%;
    }
}

@media (max-width:576px) {
    .responsive_img {
        width: 100%;
    }
}