.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.lists {
    display: flex;
    align-items: center;
    gap: 34px;
    list-style: none;
}

.link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
}


@media (max-width:768px) {
    .nav {
        flex-direction: column;
        gap: 32px;
        align-items: flex-start;
    }
}

@media (max-width:576px) {
    .nav {
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }

    .lists {
        flex-direction: column;
    }
}