.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lists {
    display: flex;
    align-items: center;
    gap: 34px;
    list-style: none;
}

.link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
}