.footer {
    width: 100%;
    background-color: #000000;
    padding: 70px 0;
}

.footer_hero {
    width: 100%;
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #8c8b8b;
    padding-left: 10px;
    padding-right: 10px;
}

.footer_hero_text {
    width: 43%;
}

.footer_hero_text p {
    line-height: 25px;
    font-size: 15px;
}

.footer_hero_text p:nth-child(2) {
    margin-top: 56px;
}

.social_media {
    display: flex;
    align-items: center;
    gap: 16px;
}

.social_media img {
    cursor: pointer;
}


@media (max-width:768px) {
    .footer_hero_text {
        width: 100%;
    }

    .footer_hero {
        align-items: flex-end;
    }
}

@media (max-width:576px) {
    .footer_hero {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer_hero_text {
        margin-bottom: 48px;
    }
}